@use "base/common" as *;

// header--------
header {
  height: 90px;
}

.header-title {
  font-size: 30px;

  a {
    color: $text;
  }
}

.header-logo {
  width: 80px;
  height: auto;
}

.nav-list {
  ul {
    display: flex;
    justify-content: space-around;
  }

  li {
    padding-left: 20px;
    font-weight: 800;
    font-size: 20px;
  }

  a {
    color: $text;
  }
}

// 共通ボタンスタイル
%btn-hover {
  &:hover {
    opacity: 0.6;
  }
}

%btn-active {
  a:active {
    transform: translateY(4px);
    transition: transform 0.1s ease-in-out;
    display: inline-block;
  }
}

// 各ボタン
.btn-acerca {
  @extend %btn-hover;
  @extend %btn-active;
}

.btn-contacto {
  @extend %btn-hover;
  @extend %btn-active;
}

.btn-buy {
  a {
    color: white;
    padding: 8px;
    background-color: $dark-brown;
    border: 3px solid transparent;
    border-radius: 8px;

    &:hover {
      background-color: $text;
      border: 3px solid $dark-brown;
    }

    &:active {
      box-shadow: inset 0 -2px 4px $dark-brown;
      transform: translateY(2px);
      transition: transform 0.1s ease-in-out;
    }
  }
}